<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="sortType = 'action'; sortReverse = !sortReverse">Description</a>
            </th>

            <th>
                <input type="checkbox" ng-model="isCheckAll" ng-change="$ctrl.checkStatus($ctrl.todo.items, isCheckAll)">
                Checkbox
            </th>

            <th>
                <a href="#" ng-click="sortType = 'done'; sortReverse = !sortReverse">Done</a>
            </th>

            <th>
                <a href="#" ng-click="sortType = 'deadline'; sortReverse = !sortReverse">Deadline</a>
            </th>

            <th>
                <a href="#" ng-click="sortType = 'responsible'; sortReverse = !sortReverse">Responsible</a>
            </th> 

            <th>
                <a href="#" ng-click="sortType = 'estimation'; sortReverse = !sortReverse">Est. Hours</a>
            </th>
            <th class="text-right">Commands</th>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="item in $ctrl.todo.items | filter: {done: false} | orderBy: ['action']">-->
        <tr ng-repeat="item in $ctrl.todo.items | checkedItems: $ctrl.showComplete | orderBy: sortType: sortReverse"
            ng-style="$ctrl.missedDeadline(item)">
            <td>{{item.action}}</td>
            <td><input type="checkbox" ng-model="item.done"></td>
            <td>{{item.done ? 'Yes' : 'No'}}</td>
            <td>{{item.deadline | date : 'mediumDate' }}</td>
            <td>{{item.responsible}}</td>
            <td>{{item.estimation}}</td>
            <td class="text-right">
                <button type="button" class="btn btn-primary"
                    ng-click="$ctrl.editTask($event, item)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span>
                </button>
                <button
                    class="btn btn-primary btn-danger glyphicon glyphicon-trash" aria-hidden="true"
                    ng-click="$ctrl.removeItem($ctrl.todo.items, item)"/>
            </td>
        </tr>
    </tbody>
</table>