<div class="panel">
    <form novalidate name="newTask">
        <div class="form-group">
            
            <div class="input-group">
                <div>
                    <label for="action">Action:</label>
                    <input
                        id="action" name="action"
                        class="form-control"
                        ng-model="$ctrl.newItem.action" />
                </div>
                
                <div>
                    <label  for="deadline">Deadline:</label>
                    <input
                        type="date"
                        id="deadline" name="deadline"
                        class="form-control"
                        ng-model="$ctrl.newItem.deadline " />
                </div>
                
                <div>
                    <label  for="responsible">Responsible:</label>
                    <input
                        id="responsible" name="responsible"
                        class="form-control"
                        ng-model="$ctrl.newItem.responsible" />
                </div>

                <div>
                    <label  for="estimation">Estimation:</label>
                    <input
                        type="number" min="1"
                        id="estimation" name="estimation"
                        class="form-control"
                        ng-model="$ctrl.newItem.estimation" />
                </div>
                     
                <div>
                    <span>
                        <button
                            class="btn btn-primary"
                            ng-click="$ctrl.enter()"
                            ng-disabled="!($ctrl.validateItem($ctrl.newItem))">
                            {{$ctrl.buttonEnterName}}
                        </button>
                    </span>
                    <span>
                        <button
                            class="btn btn-primary"
                            ng-click="$ctrl.close()">
                            Close
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>